<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who Am I?</h2>
                <hr class="light">
                <p class="text-faded">I am a tech enthusiast/IT Technician with a BS in Computer Engineering. I build Raspberry Pi projects and 3D Printed Items! Feel free to check out my page</p>
            </div>
        </div>
    </div>
</section>
